div.board-row div {
  width: 20px;
  height: 20px;
  float: left;
}

div.board-row {
  clear: left;
}

div.block {
  background-color: #333;
}

div.space {
  background-color: #fff;
}

body > div {
  text-align: center;
}

div.game {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

div.game > div {
  margin: auto !important;
  border: solid gray 5px;
}

#ios-touch-to-start {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background-color: lightgrey;
}
#ios-touch-to-start {
  font-size: 2em;
  vertical-align: middle;
}
