div.board-row div {
  width: 20px;
  height: 20px;
  float: left;
}

div.board-row {
  clear: left;
}

div.block {
  background-color: #333;
}

div.space {
  background-color: #fff;
}

body > div {
  text-align: center;
}

div.game > div {
  margin: auto !important;
  border: solid gray 5px;
}
