div.board-row div {
  width: 20px;
  height: 20px;
  float: left;
}

div.board-row {
  clear: left;
}

div.block {
  background-color: #333;
}

div.space {
  background-color: #fff;
}

html, body {
  margin: 0px;
  position: fixed;
}

body > div {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

div.game {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

div.game > div {
  margin: auto !important;
}

#ios-touch-to-start {
  width: 100%;
  width: 100vw;
  background-color: lightgrey;
  font-size: 1.6em;
  vertical-align: middle;
}
